.cart_overlay_item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 1rem 0;

  .attribute_choices {
    display: flex;
    align-items: center;

    button {
      margin-right: 0.25rem;
      padding: 0.1rem 0.25rem;
      cursor: default;
      font-size: 0.8rem;

      outline: none;
      border: 1px solid var(--main-black);
      background-color: var(--main-black);
      color: white;
      width: 3rem;
      min-width: fit-content;
      height: 2.5rem;
    }

    button:hover {
      background-color: var(--main-black);
      color: white;
    }
  }

  .quantity-image_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .image_container {
      position: relative;
      width: 8rem;
      // height: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .item_image {
        max-width: 8rem;
        max-height: 100%;
      }

      .next_image,
      .prev_image {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        font-size: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #6663;
        outline: none;
        border: none;
        border-radius: 50%;
      }

      .prev_image {
        left: 0;
      }

      .next_image {
        right: 0;
      }

      .next_image:hover,
      .prev_image:hover {
        background-color: #6665;
      }
    }
  }

  button {
    outline: none;
    border: 1px solid var(--main-black);
    background-color: white;
    cursor: pointer;

    padding: 0.25rem;
    width: 1.5rem;
    aspect-ratio: 1/1;
  }

  button:hover {
    background-color: #a6a6a644;
  }

  // button.unavailable {
  //   background-color: #a6a6a644;
  //   color: #a6a6a6;
  //   border: 1px solid#a6a6a6;
  // }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .item_brand,
    .item_name {
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.75rem;
      padding: 0.25rem 0;
    }

    .item_brand {
      font-weight: 600;
    }

    .item_price {
      padding: 0.25rem 0;
    }

    button {
      margin-right: 0.25rem;
    }
  }
  .quantity_field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
}
