.cart_page {
  padding: 4rem 6rem;

  .page_title {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 4rem;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 700;

    border-top: 1px solid #e5e5e5;
    padding: 2rem 0;

    .total_price {
      display: flex;

      h3 {
        margin-right: 0.25rem;
      }
    }

    .checkout {
      outline: none;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.25rem;
      font-weight: 700;
      padding: 0.75rem 1.5rem;

      background-color: var(--main-green);
      color: white;
      margin-left: 0.25rem;
    }
    .checkout:hover {
      filter: brightness(95%);
    }

    .checkout:disabled {
      background-color: var(--disabled-green);
      cursor: not-allowed;
      filter: brightness(100%);
    }
  }
}
