.cart_overlay_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 1rem 0;
  border-bottom: 1px solid #e5e5e5;
  min-height: 180px;
}

.cart_overlay_item .product_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart_overlay_item .product_info .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart_overlay_item .product_info .item_brand,
.cart_overlay_item .product_info .item_name {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.75rem;
  padding: 0.25rem 0;
}

.cart_overlay_item .product_info .item_brand {
  font-weight: 600;
}

.cart_overlay_item .product_info .item_price {
  padding: 0.75rem 0;
}

.cart_overlay_item .product_info button {
  margin-right: 0.25rem;
}

.cart_overlay_item .product_info .attribute_choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 160px;
}

.cart_overlay_item .product_info .attribute_choices .attribute_choice {
  margin-right: 0.25rem;
  margin-top: 0.5rem;
  padding: 0.1rem 0.25rem;
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: 1px solid var(--main-black);
  background-color: var(--main-black);
  color: white;
  width: 3rem;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 2.5rem;
}

.cart_overlay_item .product_info .attribute_choices .attribute_choice:hover {
  background-color: var(--main-black);
  color: white;
}

.cart_overlay_item .quantity-image_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.cart_overlay_item .quantity-image_wrapper .quantity_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.cart_overlay_item .quantity-image_wrapper .quantity_field .quantity {
  font-family: "Roboto", sans-serif;
}

.cart_overlay_item .quantity-image_wrapper .quantity_field button {
  outline: none;
  border: 1px solid var(--main-black);
  background-color: white;
  cursor: pointer;
  padding: 0.25rem;
  width: 1.5rem;
  aspect-ratio: 1/1;
}

.cart_overlay_item .quantity-image_wrapper .quantity_field button:hover {
  background-color: #a6a6a644;
}

.cart_overlay_item .quantity-image_wrapper .image_container {
  position: relative;
  width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_overlay_item .quantity-image_wrapper .image_container .item_image {
  max-width: 8rem;
  max-height: 100%;
}

.cart_overlay_item .quantity-image_wrapper .image_container .next_image,
.cart_overlay_item .quantity-image_wrapper .image_container .prev_image {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #6663;
  outline: none;
  border: none;
  border-radius: 50%;
}

.cart_overlay_item .quantity-image_wrapper .image_container .prev_image {
  left: 0;
}

.cart_overlay_item .quantity-image_wrapper .image_container .next_image {
  right: 0;
}

.cart_overlay_item .quantity-image_wrapper .image_container .next_image:hover,
.cart_overlay_item .quantity-image_wrapper .image_container .prev_image:hover {
  background-color: #6665;
}
/*# sourceMappingURL=CartOverlayItem.css.map */